<p id="notice"><%= notice %></p>

<h1>Listing Comments by Crestanello Tommy</h1>

<%= link_to 'View Post', posts_path %>
<%= link_to 'New Comment', new_comment_path %>
<br/><br/>
<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td width="100px" align="center"><%= comment.post_id %></td>
        <td width="155px" align="center"><%= comment.body %></td>
		<td width="50px"></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', destroy_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
