<p id="notice"><%= notice %></p>
<% @title = "ciao" %>
<h1>Listing Posts by Crestanello Tommy </h1>

<br>

<%= link_to 'New Post', new_post_path %>
<br><br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
		<td width="100px" align="center"><%= post.title %></td>
        <td width="155px" align="center"><%= post.body %></td>
		<td width="50px"></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', destroy_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

